body{
}
.main{
	display: flex;
	flex-wrap: wrap;
}
img{
	height: 35vw;
	max-width: 43vw;
	width: calc((100vw-1.5em)/2);	
}
.cat{	
	padding-right: 1.5em;		
}
.cat:last-of-type{
	padding-right: 0;		
}
div .cat button{
	margin: 0;
	padding: 0;
}
div .cat p{
	border: solid thin; 
	padding: 0.2em; 
	margin: 1em 0.2em 0 0 ; 
}

@media screen and (min-width: 800px){
	.main{ 
		max-width: 800px;
		margin-left: auto; 
		margin-right: auto;		
	}
}
