body{
	text-align: center;
}

.main{
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}
#cat-list,#nicknames ul li{
	list-style: none;
	margin: 0;
	font-size: 1.2em;
}
#cat-list li{
	padding: 0.1em;

}
#cat-list li a{
	text-decoration: none;
}

img{
	width: 320px;
	height: 220px;
	max-width: 100%;
}